@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  background-color: rebeccapurple;
  font-family: 'Poppins', sans-serif;
  @include center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
